html, body { font-size: 100%; }
body
{
    background: #faf8fb;
    
    color: #111111;
    font-family: sans-serif;
}

iframe, img, video, audio {
    max-width: 100% !important;
}

a { cursor: pointer; }
a.redlink:link { color: rgb(230, 7, 7); }
a.redlink:visited { color: rgb(130, 15, 15); }
